/* Estas son opciones sobre el tamaño y los márgenes de las opciones del menu */
.navbar-nav .nav-item a.nav-link {
  display: block;
  padding: 8px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  font-size: 16px;
  color: #e8e8e8;
  border-bottom: 3px solid transparent
}

/* Este es el color del texto de las letras del menú y del footer */
.text-color{
  color: #e8e8e8;
}

/* Este es el color de la línea que aparece en el borde inferior al poner el mouse sobre las opciones del menu */
.navbar-nav .nav-item a:hover{
  color: #d4af37;
  border-bottom: 3px solid #d4af37;
  transition: border-bottom 0.3s ease-in-out;
}

/* Este es el color del boton al poner el mouse sobre el */
.btn-hover:hover{
  background-image: linear-gradient(1deg, #000000,#661300);
}

/* Estos son los colores que elegí para el menú, el footer y el boton de la página */
.gradiente {
  background-image: linear-gradient(1deg, #64021e,#f32f03);
}

/* Intenté hacer que las celdas de la tabla fueran verdes si el horario estaba disponible, pero no pude, creo que se hace con javascript */
/* .disponible {
  background-color: green;
  color: white;
}
Lo mismo con las celdas no disponibles
.no-disponible {
  background-color: red;
  color: white;
} */

